FLASK_APP=app.py
FLASK_ENV=development
FLASK_DEBUG=1
DATABASE_URL=sqlite:///tiendita.db
SQLALCHEMY_DATABASE_URI=sqlite:///instance/tiendita-dev.db
SECRET_KEY=generate-a-random-key-with-python-secrets-token_hex-32
