Flask>=3.0
Flask-WTF
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-Caching
SQLAlchemy
redis
rq
WTForms
bleach
pyotp
reportlab
python-dotenv
email-validator>=2.2.0
gunicorn

# Testing dependencies
pytest>=7.0
pytest-cov>=3.0
pytest-flask>=1.2
